.container {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6vh;
    background-color: rgb(141, 91, 188);
}

.arrow-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow {
    width: 240px;
    height: 40px;
    background-color: white;
    position: relative;
    clip-path: polygon(0% 50%, 75% 0%, 100% 50%, 75% 100%);
    transition: transform 0.5s ease-in-out;
    color: black;
}

.arrow::before {
    content: "Go To About Section";
    position: absolute;
    top: 50%;
    left: 78px;
    transform: translateY(-50%);
}

.arrow.clicked {
    transform: translateX(300px);
}